<form ngSubmit="submitQuote()" class="card-body">

  <br>

  <div class="form-group">
    <i class="fas fa-user prefix white-text"></i>
    <label for="name"><strong>Person's Name:</strong></label>
    <input type="text" class="form-control" id="name" [(ngModel)]="quotePublisher" name="name" #name="ngModel"
      placeholder="Write Your Name Here:" required>
  </div>

  <div class="form-group">
    <i class="fas fa-quote-left prefix white-text"></i>
    <label for="quotes"><strong>Quotes:</strong></label>
    <input type="text" name="quote" class="form-control" id="exampleFormControlInput1" [(ngModel)]="quoteStr"
      placeholder="Add Your Quote Here:">
  </div>

  <div class="form-group">
    <i class="fas fa-user prefix white-text"></i>
    <label for="author"><strong>Author:</strong></label>
    <input type="text" name="author" class="form-control" id="exampleFormControlInput1" [(ngModel)]="quoteAuthor"
      placeholder="Add Name of the Author Here:">
  </div>
  <div>
    <button type="submit" class="btn btn-primary">Post Quote</button>
  </div>
  <div class="inline-ul text-center d-flex justify-content-center">
    <a class="icons-sm tw-ic px-4" href="https://twitter.com/login"><i class="fab fa-twitter white-text"></i> Twitter</a>
    <a class="icons-sm li-ic px-4"><i class="fab fa-linkedin-in white-text" href="https://www.linkedin.com/ "></i> Linkedin</a>
    <a class="icons-sm ins-ic px-4" href="https://www.instagram.com/accounts/login/"><i class="fab fa-instagram white-text"> </i> Instagram</a>
  </div>
</form>