<!-- Heading -->
<div class="heading">
  <h1>QUOTES</h1>
</div>
<!-- Main Body -->
<section class="main intro1">
  <div class="container">
    <div class="container flex-center">
      <div class="row">
        <div class="col-md-10">
          <hr>
          <div class="myQuote" *ngFor="let quote of highQuote; let i=index">
            <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
            <p *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
            <app-details [quotes]="quote"></app-details>


            <!-- <hr size="50"> -->


            <button id="but1"  class="btn btn-primary" (click)="upvote(i)">Upvote</button>
            <button id="but1"  class="btn" (click)="downvote(i)">Downvote</button>
            <button id="but1"  class="btn btn-danger" (click)="delQuote(i)">Delete</button>

            <hr>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-5 offset-xl-1">
        <!-- Form -->
        <div class="card wow fadeInRight">
          <app-forms (emitQuote)="addQuote($event)"></app-forms>
        </div>
        <!-- Form -->
      </div>
    </div>
  </div>
</section>