.heading{
    text-align: center;
    background-color: blue;
    background-image: url("../../assets/Images/bc1.jpeg");
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-size: cover;
  }
  .card {
    background-color: rgba(229, 228, 255, 0.2);
  }
  .main {
    height: 100% !important;
  }
  .intro1 {
    background: url("../../assets/Images/bc6.jpeg");
    background-size: cover;
  }
  .form-group .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .form-group label {
    color: #ffffff;
  }
  .card-body {
    background-color: rgba(229, 228, 255, 0.2);
  }
  .form-group {
      font-size: 1.5em;
      margin-top: 1rem;
  }
  .form-group label {
      color: #fff;
  }
  .card {
      box-shadow: 0 4px 8px 0 rgb(red, green, blue);

      text-align: center;
  }
  /* #card1 {
      background-color: rgb(red, green, blue);
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
  } */
  #but1 {
    color: #fff;
  }

  